{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Bienvenido, {{ user.get_full_name }}</h2>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    {% if user.rol == 'E' %}
                    <a href="{% url 'perfil_estudiante' %}" class="btn btn-primary btn-lg">
                        Mi Perfil
                    </a>
                    {% elif user.rol == 'P' %}
                    <a href="{% url 'gestion_calificaciones' %}" class="btn btn-success btn-lg">
                        Registrar Calificaciones
                    </a>
                    {% elif user.rol == 'A' %}
                    <a href="/admin" class="btn btn-success btn-lg">
                        Panel Administrativo
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}